.App {
  text-align: center;
  background-image: url('https://i.pinimg.com/736x/47/1b/0c/471b0c13fac47926ead53a4f5ac69934.jpg');
  /*   background-image: url('https://w0.peakpx.com/wallpaper/777/712/HD-wallpaper-world-country-ocean-asia-europe-america-flags-countries.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  height: fit-content;
}

.App1 {
  background-color: black;
  opacity: 0.85;
  height: 100%;
  min-height: 165vh;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}