.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #777;
}

.input:focus,
input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #e8eaec7b;
    color: white;
}

.input::placeholder {
    color: #777;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.button {
    color: rgba(255, 255, 255, 0.523);
    background-color: transparent;
    border: 2px solid rgba(239, 239, 239, 0.203);
    border-radius: 16px;
    height: 2.5rem;
}

.button:hover {
    color: white
}