.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #eeeef4;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
    outline: none;
    border-radius: 1rem;
    border-color: #7a9cc6;
    color: white
}

.input::placeholder {
    color: #777;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.header {
    padding: 3rem 0rem 2rem 0rem;
}

.div {
    padding: 3rem;
    /*    display: flex;
    justify-content: center;
    align-items: center; */
    gap: 1rem;
}

.form {
    border: 2px solid rgba(239, 239, 239, 0.593);
    border-radius: 8px;
    width: fit-content;
    padding: 3rem;
}

.button {
    padding: 1rem 2rem;
    border: 3px solid rgba(255, 255, 255, 0.528);
    border-radius: 12px;
    background-color: black;
    opacity: 0.75;
    color: rgba(255, 255, 255, 0.595);
}

.button:hover {
    color: white;
    background-color: black;
    opacity: 1;
}

.season {
    color: rgba(255, 255, 255, 0.595);
}

.label {
    color: white;
}

.footer {
    padding: 2rem;
}

.country {
    color: rgba(255, 255, 255, 0.523);
    padding: 0.5rem;
}

.divero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.option {
    color: rgba(255, 255, 255, 0.523);
    background-color: transparent;
    border-radius: 16px;
    padding: 4px;
    height: 2.5rem;
    cursor: pointer;
}

.option:hover {
    color: rgba(255, 255, 255, 0.523);
    background-color: black;
    border-radius: 16px;
    padding: 4px;
    height: 2.5rem;
    cursor: pointer;
}