.divpaginado {
    display: inline-flex;
    justify-content: center;
    padding: 20px 0px 40px;
    margin: 2%;
    font-family: "Audiowide", sans-serif;
}

.divpaginado button {
    padding: 8px 16px;
    border: 1.4px solid rgba(239, 239, 239, 0.203);
    border-radius: 4px;
    font-family: "Audiowide", sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.636);
    background-color: transparent;
    margin: 2px;
}

.btnpag :hover {
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    background-color: #c3c8c394;
    transition: all 500ms;
}

.actual {
    font-family: "Audiowide", sans-serif;
    background-color: rgba(0, 0, 0, 0.644);
    transition: all 500ms;
}